body {
    font-family: Arial, sans-serif;
    background: url(https://images.hdqwalls.com/download/aurora-borealis-in-marquette-michigan-dv-1920x1080.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #450caf;
    font-family: 'FreeMono', monospace; 
    font-weight: bold;
    font-size: 40px;
}

.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="number"], select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #fb9090;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b30065;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
